{% extends 'base.html' %}

{% block title %}
    Список платформ
{% endblock %}

{% block content %}
    <section class="section list-section">
        <h2>Список платформ</h2>
        <div class="action-links">
            <a href="{% url 'platform_create' %}">Добавить платформу</a>
        </div>
        <div class="platform-grid">
            {% for platform in platforms %}
            <div class="platform-card">
                <h3>{{ platform.name }}</h3>
                <div class="platform-card-actions">
                    <a href="{% url 'platform_detail' platform.pk %}" class="detail">Подробнее</a>
                    <a href="{% url 'platform_update' platform.pk %}" class="edit">Редактировать</a>
                    <a href="{% url 'platform_delete' platform.pk %}" class="delete">Удалить</a>
                </div>
            </div>
            {% empty %}
            <p style="text-align: center; color: #cccccc;">Платформы отсутствуют.</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}