{% extends 'base.html' %}

{% block title %}
    {{ platform.name }}
{% endblock %}

{% block content %}
    <section class="section list-section">
        <h2>{{ platform.name }}</h2>
        <div class="platform-info">
            <p><strong>Название:</strong> {{ platform.name }}</p>
            <div class="action-links">
                <a href="{% url 'platform_update' platform.pk %}" class="edit">Редактировать</a>
                <a href="{% url 'platform_delete' platform.pk %}" class="delete">Удалить</a>
            </div>
        </div>
    </section>
{% endblock %}