{% extends 'base.html' %}

{% block title %}
    Удалить разработчика
{% endblock %}

{% block content %}
    <section class="section">
        <h2>Удалить разработчика</h2>
        <p>Вы уверены, что хотите удалить разработчика "{{ developer.name }}"?</p>
        <form method="post">
            {% csrf_token %}
            <div class="action-links">
                <button type="submit">Удалить</button>
                <a href="{% url 'developer_list' %}">Отмена</a>
            </div>
        </form>
    </section>
{% endblock %}