{% extends 'base.html' %}

{% block title %}
    {{ developer.name }}
{% endblock %}

{% block content %}
    <section class="section list-section">
        <h2>{{ developer.name }}</h2>
        <div class="developer-info">
            {% if developer.logo %}
                <img src="{{ developer.logo.url }}" alt="{{ developer.name }}">
            {% else %}
                <img src="https://via.placeholder.com/250x150" alt="Нет логотипа">
            {% endif %}
            <p><strong>Название:</strong> {{ developer.name }}</p>
            <p><strong>Описание:</strong> {{ developer.description|default:"Нет описания" }}</p>
            <p><strong>Дата основания:</strong> {{ developer.founded_date }}</p>
            <div class="action-links">
                <a href="{% url 'developer_update' developer.pk %}" class="edit">Редактировать</a>
                <a href="{% url 'developer_delete' developer.pk %}" class="delete">Удалить</a>
            </div>
        </div>
    </section>
{% endblock %}