{% extends 'base.html' %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block content %}
    <section class="section list-section">
        <h2>{{ category.name }}</h2>
        <div class="category-info">
            <p><strong>Название:</strong> {{ category.name }}</p>
            <div class="action-links">
                <a href="{% url 'category_update' category.pk %}" class="edit">Редактировать</a>
                <a href="{% url 'category_delete' category.pk %}" class="delete">Удалить</a>
            </div>
        </div>
    </section>
{% endblock %}