{% extends 'base.html' %}

{% block title %}
    Список категорий
{% endblock %}

{% block content %}
    <section class="section list-section">
        <h2>Список категорий</h2>
        <div class="action-links">
            <a href="{% url 'category_create' %}">Добавить категорию</a>
        </div>
        <div class="category-grid">
            {% for category in categories %}
            <div class="category-card">
                <h3>{{ category.name }}</h3>
                <div class="category-card-actions">
                    <a href="{% url 'category_detail' category.pk %}" class="detail">Подробнее</a>
                    <a href="{% url 'category_update' category.pk %}" class="edit">Редактировать</a>
                    <a href="{% url 'category_delete' category.pk %}" class="delete">Удалить</a>
                </div>
            </div>
            {% empty %}
            <p style="text-align: center; color: #cccccc;">Категории отсутствуют.</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}