{% extends 'base.html' %}

{% block title %}
    Удалить игру
{% endblock %}

{% block content %}
    <section class="section">
        <h2>Удалить игру</h2>
        <p>Вы уверены, что хотите удалить игру "{{ game.title }}"?</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <button type="submit">Удалить</button>
                <a href="{% url 'games_list' %}">Отмена</a>
            </div>
        </form>
    </section>
{% endblock %}