{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ game.title }}
{% endblock %}

{% block content %}
    <section class="section">
        <h2>{{ game.title }}</h2>
        <div class="game-info">
            <img src="{{ game.image.url }}" alt="{{ game.title }}">
            <p><strong>Название:</strong> {{ game.title }}</p>
            <p><strong>Описание:</strong> {{ game.description }}</p>
            <p><strong>Категории:</strong> {{ game.categories.all|join:", " }}</p>
            <p><strong>Платформы:</strong> {{ game.platforms.all|join:", " }}</p>
            <p><strong>Разработчик:</strong> {{ game.developer|default:"Не указан" }}</p>
            <p><strong>Издатель:</strong> {{ game.publisher|default:"Не указан" }}</p>
            <p><strong>Цена:</strong> {{ game.price }} ₽</p>
            <p><strong>Дата выпуска:</strong> {{ game.release_date }}</p>
            <div class="action-links">
                <a href="{% url 'games_update' game.pk %}" class="edit">Редактировать</a>
                <a href="{% url 'games_delete' game.pk %}" class="delete">Удалить</a>
            </div>
        </div>
    </section>
{% endblock %}