{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if form.instance.pk %}Редактировать{% else %}Создать{% endif %} игру
{% endblock %}

{% block content %}
    <section class="section">
        <h2>{% if form.instance.pk %}Редактировать{% else %}Создать{% endif %} игру</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="errorlist">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </div>
            {% endif %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="form-group">
                <button type="submit">Сохранить</button>
            </div>
        </form>
    </section>
{% endblock %}