{% extends 'base.html' %}

{% block title %}
    Все товары
{% endblock %}

{% block content %}
    <section class="hero">
        <h1>Все товары</h1>
        <p>Полный каталог наших игр!</p>
        <a href="{% url 'all_products' %}">Смотреть все</a>
    </section>

    <section class="section list-section">
        <h2>Игры в наличии</h2>
        <div class="games-grid">
            <div class="game-card">
                <img src="https://via.placeholder.com/150" alt="Game 1">
                <div class="game-card-content">
                    <h3>Игра 1</h3>
                    <div class="info">
                        <span class="categories">Экшен, приключение</span>
                        <span class="price">1999 ₽</span>
                    </div>
                    <div class="game-card-actions">
                        <a href="{% url 'cart' %}">В корзину</a>
                    </div>
                </div>
            </div>
            <div class="game-card">
                <img src="https://via.placeholder.com/150" alt="Game 2">
                <div class="game-card-content">
                    <h3>Игра 2</h3>
                    <div class="info">
                        <span class="categories">Шутер, кооператив</span>
                        <span class="price">2499 ₽</span>
                    </div>
                    <div class="game-card-actions">
                        <a href="{% url 'cart' %}">В корзину</a>
                    </div>
                </div>
            </div>
            <div class="game-card">
                <img src="https://via.placeholder.com/150" alt="Game 3">
                <div class="game-card-content">
                    <h3>Игра 3</h3>
                    <div class="info">
                        <span class="categories">Стратегия</span>
                        <span class="price">1799 ₽</span>
                    </div>
                    <div class="game-card-actions">
                        <a href="{% url 'cart' %}">В корзину</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}