{% extends 'base.html' %}
{% load static %}

{% block title %}
    Категории
{% endblock %}

{% block content %}
    <section class="hero">
        <h1>Категории игр</h1>
        <p>Выберите жанр, который вам по душе!</p>
        <a href="{% url 'categories' %}">Посмотреть все</a>
    </section>

    <section class="section list-section">
        <h2>Все категории</h2>
        <div class="category-grid">
            {% for category in categories %}
            <div class="category-card">
                <h3>{{ category.name }}</h3>
                {% if category.description %}
                    <p>{{ category.description }}</p>
                {% endif %}
            </div>
            {% empty %}
            <p style="text-align: center; color: #cccccc;">Категории отсутствуют.</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}