{% extends 'base.html' %}
{% load static %}

{% block title %}
    Товары
{% endblock %}

{% block content %}
    <section class="hero">
        <h1>Наши товары</h1>
        <p>Огромный выбор игр для всех платформ!</p>
        <a href="{% url 'all_products' %}">Смотреть все</a>
    </section>

    <section class="section list-section">
        <h2>Популярные категории</h2>
        <div class="category-grid">
            {% for category in categories %}
            <div class="category-card">
                <h3>{{ category.name }}</h3>
                {% if category.description %}
                    <p>{{ category.description }}</p>
                {% endif %}
                <div class="category-card-actions">
                    <a href="{% url 'categories' %}" class="detail">Перейти</a>
                </div>
            </div>
            {% empty %}
            <p style="text-align: center; color: #cccccc;">Категории отсутствуют.</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}