{% extends 'base.html' %}

{% block title %}
    Товары
{% endblock %}

{% block content %}
    <section class="hero">
        <h1>Наши товары</h1>
        <p>Огромный выбор игр для всех платформ!</p>
        <a href="{% url 'all_products' %}">Смотреть все</a>
    </section>

    <section class="section list-section">
        <h2>Популярные категории</h2>
        <div class="category-grid">
            <div class="category-card">
                <h3>Экшен</h3>
                <p>Адреналиновые приключения.</p>
                <div class="category-card-actions">
                    <a href="{% url 'categories' %}" class="detail">Перейти</a>
                </div>
            </div>
            <div class="category-card">
                <h3>RPG</h3>
                <p>Глубокие сюжеты и эпичные миры.</p>
                <div class="category-card-actions">
                    <a href="{% url 'categories' %}" class="detail">Перейти</a>
                </div>
            </div>
            <div class="category-card">
                <h3>Стратегии</h3>
                <p>Тактика и управление.</p>
                <div class="category-card-actions">
                    <a href="{% url 'categories' %}" class="detail">Перейти</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}