{% extends 'base.html' %}

{% block title %}
    {{ publisher.name }}
{% endblock %}

{% block content %}
    <section class="section list-section">
        <h2>{{ publisher.name }}</h2>
        <div class="publisher-info">
            {% if publisher.logo %}
                <img src="{{ publisher.logo.url }}" alt="{{ publisher.name }}">
            {% else %}
                <img src="https://via.placeholder.com/250x150" alt="Нет логотипа">
            {% endif %}
            <p><strong>Название:</strong> {{ publisher.name }}</p>
            <p><strong>Описание:</strong> {{ publisher.description|default:"Нет описания" }}</p>
            <p><strong>Дата основания:</strong> {{ publisher.founded_date }}</p>
            <div class="action-links">
                <a href="{% url 'publisher_update' publisher.pk %}" class="edit">Редактировать</a>
                <a href="{% url 'publisher_delete' publisher.pk %}" class="delete">Удалить</a>
            </div>
        </div>
    </section>
{% endblock %}