{% extends 'base.html' %}

{% block title %}
    Детали отзыва
{% endblock %}

{% block content %}
    <section class="section list-section">
        <h2>Отзыв на {{ review.game.title }}</h2>
        <div class="review-info">
            <p><strong>Пользователь:</strong> {{ review.user.username }}</p>
            <p><strong>Рейтинг:</strong> {{ review.rating }}/10</p>
            <p><strong>Комментарий:</strong> {{ review.comment }}</p>
            <p><strong>Дата:</strong> {{ review.created_at }}</p>
            <div class="action-links">
                <a href="{% url 'review_update' review.pk %}" class="edit">Редактировать</a>
                <a href="{% url 'review_delete' review.pk %}" class="delete">Удалить</a>
            </div>
        </div>
    </section>
{% endblock %}