{% extends 'base.html' %}

{% block title %}
    Удалить отзыв
{% endblock %}

{% block content %}
    <section class="section">
        <h2>Удалить отзыв</h2>
        <p>Вы уверены, что хотите удалить отзыв на "{{ review.game.title }}" от {{ review.user.username }}?</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <button type="submit">Удалить</button>
                <a href="{% url 'review_list' %}">Отмена</a>
            </div>
        </form>
    </section>
{% endblock %}